# Dependencies
node_modules/

# Build outputs
out/
out_test/
*.vsix

# Test artifacts
.vscode-test/
/tests/test_workspace/
/tests/test_workspace_second/
/tests/*.test.code-workspace
.vscode-test

# Rust
vscode_docs/target/
